main :first-child{
    color:blue;
}

main :last-child{
    color: red;
}

main :nth-child(2){
    color: lightpink;
}

main :nth-last-child(3){
     color: yellow;
}

.box{
    width: 100px;
    height: 50px;
    background-color: lightblue;
}

.box:hover{
    background-color: yellow;
    cursor: pointer;
}